* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --header-height: 64px;
  --color-light-blue: #4993e6;
  --color-blue: #225ad8;
  --color-green: #3a943a;
  --color-white: #fff;
}

button {
  all: unset;
}

p {
  cursor: default;
}
