.cookie_section {
  padding: 40px;
}

.cookie_section > .cookie {
  width: fit-content;
}

.cookie_section > .cookie > .header {
  border-radius: 8px 8px 0px 0px;
  color: var(--color-white);
  padding: 12px 12px;
  background: linear-gradient(
    0deg,
    rgba(1, 107, 253, 1) 0%,
    rgba(0, 85, 227, 1) 100%
  );
  box-shadow: inset 1px 0px 0px #0022d3, inset 2px 0px 0px #033ae2,
    inset 3px 0px 0px #014bea, inset 4px 0px 0px #0055ec,
    inset 5px 0px 0px #0561f6, inset 0px 1px 0px #005dd8,
    inset 0px 2px 0px #3496ff, inset 0px 3px 0px #2a91ff,
    inset 0px 4px 0px #0671f1, inset 0px 5px 0px #0365ef,
    inset -1px 0px 0px #00199d, inset -2px 0px 0px #0328c2,
    inset -3px 0px 0px #053adc, inset -4px 0px 0px #0646eb;
  text-shadow: 2px 1px 2px #000000;
}

.cookie_section > .cookie > .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #ebe9d8;
  padding: 24px 16px;
  box-shadow: inset -1px -1px 0px #001492, inset -2px -2px 0px #0020a9,
    inset -3px -3px 0px #1b3ca3, inset -4px -4px 0px #dfe9ff,
    inset 1px 1px 0px #003ad0, inset 2px 2px 0px #2962e3,
    inset 3px 3px 0px #2054a7, inset 4px 4px 0px #c9eeff,
    inset 5px 5px 0px #e0ebee;
}

.cookie_section > .cookie > .content > .type_error > img {
  height: 48px;
}

.cookie_section > .cookie > .content > .type_error {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cookie_section > .cookie > .content > button {
  margin: 0 auto;
  width: fit-content;
  padding: 8px 64px;
  border: 2px solid black;
  box-shadow: inset -1px -1px 0px #71706a, inset -2px -2px 0px #a8a89a,
    inset 1px 1px 0px #fffffc, inset 2px 2px 0px #f2eee9,
    inset 3px 3px 0px #ebe8dc;
}
.cookie_section > .cookie > .content > button:active {
  background-color: #d8d6c6;
}
