main {
  height: calc(100vh - 40px);
  display: grid;
  grid-template-columns: 1.3fr 1.7fr 1fr;
}

main {
  background-image: url("../img/wp.webp");
  background-size: cover;
  background-position: left;
}

main > section {
  background-color: rgba(255, 255, 255, 0.453);
}
main > section:nth-child(2) {
  background-color: rgba(255, 255, 255, 0);
}

main > section:nth-child(3) {
  background-color: rgba(255, 255, 255, 0);
}
